<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lalalal</title>
</head>
<body>
   <h1>wendel</h1> 
   <br>
   <%- body %>
   <br>
   <p>eae aeae man</p>
</body>
</html>